#izquierda {
    horizontal-align: right;
}

body {
  background: rgb(188,216,217);
  background: -moz-linear-gradient(90deg, rgba(188,216,217,1) 0%, rgba(164,217,251,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(188,216,217,1) 0%, rgba(164,217,251,1) 100%);
  background: linear-gradient(90deg, rgba(188,216,217,1) 0%, rgba(164,217,251,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bcd8d9",endColorstr="#a4d9fb",GradientType=1);
}

  #fondo_blanco {
    background-color: white;
  }